<html>
    <head>
        <title>Cart</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
    </head>
    
    <body>
        <%
        var items = items;
        %>
        <form class="form-horizontal" role="form" method="post" id="myForm" action="">
            
            <div class="container">
                <h1>Cart</h1>
                <br/>
                <% items.forEach(function(item) { %>

                    <li class="list-group-item clearfix">
                            <div class="col-xs-5">
                                <strong><%= item.itemName %></strong><br/>
                                
                            </div>
                            <div class="col-xs-2 text-right">
                                <span class="badge"><%= item.quantity %> </span>
                            </div>
                            
                            <div class="col-xs-2 text-right">
                                <a href="/cart/remove/<%= item.itemId %>" class="btn btn-default"></i> Remove</a>
                            </div>
                    </li>
                <% }); %>

            </div>
        </form>
    </body>
</html>
